# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
.enc

# Editor/IDE
 .idea/
 .vscode/
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/monolithic-go-app.iml
/.idea/vcs.xml
/.idea/dataSources/5eb8b4cb-c353-409e-a0e8-d2464839514a.xml
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1/storage_v2/_src_/database/airdb.SFuIBQ.meta
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1.xml
/.idea/dataSources.local.xml
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1/storage_v2/_src_/database/airdb.SFuIBQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1/storage_v2/_src_/database/airdb.SFuIBQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1/storage_v2/_src_/database/airdb.SFuIBQ/schema/public.abK9xQ.meta
/.idea/dataSources/d814ffe9-d1d3-49f6-9ddd-e470ade6f6b1/storage_v2/_src_/database/airdb.SFuIBQ/schema/public.abK9xQ.zip
/.idea/workspace.xml
